* {
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    list-style: none;
}
body {
  font-size: 16px;
}
nav {
    width: 100%;
    height: 100%;
}

.App {
    margin: 0px 40px;
    max-width: 850px;
}
ul li {
    font-weight: 600;
}
.wrapper {
  border-radius: 5px;
  padding: 10px;
  height: auto;
  box-sizing: inherit;
}
.person-image,
.random-img {
    width: 9rem;
    height: 9rem;
    border-radius: .6rem;
}
.container {
    border-radius: 5px;
}
ul.block-info {
    display: inline-block;
}
ul.block-info li {
    border-top: 1px solid #4e4848;
    display:block;
    width: 17rem;
    padding-top: 5px;
    padding-bottom: 5px ;
}
/* .row {
    padding: 10px;
}
.item-list ul li {
    display: block;
    padding: 15px 10px;
    border: 1px solid #4e4848;
    border-radius: 5px;
    width: 100%;
} */

.item-list { 
    margin-top: 20px;
}

.container-block {
    background-color: #41413c; 
    border-radius: 10px;
    max-width: 100%;
}