nav ul {
    width: auto;
    height: auto;
    display: flex;
}
nav ul li {
    width: 100%;
    padding: .5rem 1rem;
    color: #ABF2d3;
    cursor: pointer;

}
nav ul li:first-child {
    color:#fff;
}

.header button {
    height: 2.2rem;
    margin-top: 3px;
}